<%= form_for(@council_district) do |f| %>
  <% if @council_district.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@council_district.errors.count, "error") %> prohibited this council_district from being saved:</h2>

      <ul>
      <% @council_district.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
