<h1>Listing council_districts</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @council_districts.each do |council_district| %>
      <tr>
        <td><%= link_to 'Show', council_district %></td>
        <td><%= link_to 'Edit', edit_council_district_path(council_district) %></td>
        <td><%= link_to 'Destroy', council_district, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Council district', new_council_district_path %>
