<% content_for :head do %>
  <%= javascript_include_tag  "https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.js" %>
  <%= stylesheet_link_tag     "https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.css" %>
<% end %>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=612274872174090&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div id="topbar" class="pure-menu pure-menu-open pure-menu-horizontal">
  <a href="#" class="pure-menu-heading">MuniciPAL</a>
</div>

<div class="pure-g">
  <!--HEADER CONTAINER-->
  <div class="header-container pure-u-1-2 l-box-2x">
    <div class="header">
      
      <h2><span>Locate</span> your council district.</h2>
      <h2><span>Learn</span> about your councilmember.</h2>
      <h2><span>Know</span> what items are being voted on.</h2>
      <h2><span>Participate</span> in Mesa's decision making processes.</h2>
      
      <div class="address-box pure-g">
        <label for="address" class="pure-u-1">Tell Me About My Council District:</label>
        <div id="address-container" class="pure-u-4-5">
          <input id="address" name="address" type="text" placeholder="Enter Your Mesa, AZ Address Here"/>
        </div>
        <div id="search-btn-container" class="pure-u-1-5">
          <button id="search-btn" class="pure-button pure-button-primary">Search</button>
        </div>
        <p class="descript pure-u-1">example: <a href="?address=455%20West%20Baseline%20Road,%20Mesa,%20AZ%2085210,%20USA&lat=33.3781827&long=-111.8430414">455 W Baseline Rd, Mesa, AZ</a></p>
      </div>
    </div>
  </div>
  <!-- END HEADER CONTAINER -->

  <div class="pure-u-1-2">
    <div id="map"></div>
  </div>
</div> <!-- end header/search grid -->

<div class="results pure-g">
  <h1 class="you-live-in pure-u-1" id="answer">We don't yet know where you live.</h1>

  <div class="pure-u-1-2 l-box">
    <img id="council-picture" class="pure-img" src="http://placehold.it/650x450/607d8b/ffffff&text=loading" alt="Placeholder">
    <div class="contact-info">
      <div class="contact-method">
        <span class="blue fa fa-phone fa-lg"></span><span id="council-phone">555-555-1234</span>
      </div>
      <div class="contact-method">
        <span class="blue fa fa-envelope fa-lg"></span><span id="council-email">?@mesaaz.gov</span>
      </div>
    </div>
  </div>

  <div class="pure-u-1-2 l-box">
    <h2 id="council-member">Some Person</h2>
    <div id="results-area">
      <div id="controls" class="pure-menu pure-menu-open pure-menu-horizontal">
        <ul>
          <li class="pure-menu-selected"><a id="controls-bio" data-card="bio-card" href="#">Bio</a></li>
          <li><a id="controls-twitter" data-card="twitter-card" href="#">Twitter</a></li>
          <li><a id="controls-facebook" data-card="facebook-card" href="#">Facebook</a></li>
        </ul>
      </div> <!-- end controls -->

      <section class="container">
        <div id="cards">
        
          <div class="card" id="bio-card">
            <span class="bio">foo bar</span>
          </div>

          <div class="card" id="facebook-card">
            <div class="fb-widget" id="facebook-1">
              <div class="fb-like-box" data-href="https://www.facebook.com/CouncilmemberDaveRichins" data-width="100%" data-height="468" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="true" data-show-border="false"></div>
            </div>
            <div class="fb-widget" id="facebook-2">
              <div class="fb-like-box" data-href="https://www.facebook.com/CouncilmemberBenelli" data-width="350" data-height="468" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="true" data-show-border="false"></div>
            </div>
            <div class="fb-widget" id="facebook-3">
              <div class="fb-like-box" data-href="https://www.facebook.com/councilmember.kavanaugh" data-width="350" data-height="468" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="true" data-show-border="false"></div>
            </div>
            <div class="fb-widget" id="facebook-4">
              <div class="fb-like-box" data-href="https://www.facebook.com/CouncilmemberChrisGlover" data-width="350" data-height="468" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="true" data-show-border="false"></div>
            </div>
            <div class="fb-widget" id="facebook-5">
              <div class="fb-like-box" data-href="https://www.facebook.com/CouncilmemberDavidLuna" data-width="350" data-height="468" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="true" data-show-border="false"></div>
            </div>
            <div class="fb-widget" id="facebook-6">
              <div class="fb-like-box" data-href="https://www.facebook.com/CouncilmemberScottSomers" data-width="350" data-height="468" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="true" data-show-border="false"></div>
            </div>
          </div>

          <div class="card" id="twitter-card">
            <div class="twit-widget">
             <a class="twitter-timeline" href="https://twitter.com/techieshark/lists/mesaaz-gov" data-widget-id="465957406787112960" data-chrome="noheader">Tweets from https://twitter.com/techieshark/lists/mesaaz-gov</a>
            </div>
            <div class="twit-widget" id="council-1" style="display:none" >
              <a class="twitter-timeline" href="https://twitter.com/dlrichins" data-widget-id="465935532589993984" data-chrome="noheader">Tweets by @dlrichins</a>
            </div>
            <div class="twit-widget" id="council-2" style="display:none" >
              <a class="twitter-timeline" href="https://twitter.com/MesaDistrict2" data-widget-id="465941398470922240" data-chrome="noheader">Tweets by @MesaDistrict2</a>
            </div>
            <div class="twit-widget" id="council-3" style="display:none" >
              <a class="twitter-timeline" href="https://twitter.com/MesaDistrict3" data-widget-id="465941592985968641" data-chrome="noheader">Tweets by @MesaDistrict3</a>
            </div>
            <div class="twit-widget" id="council-4" style="display:none" >
              <a class="twitter-timeline" href="https://twitter.com/MesaDistrict4" data-widget-id="465941739635613696" data-chrome="noheader">Tweets by @MesaDistrict4</a>
            </div>
            <div class="twit-widget" id="council-5" style="display:none" >
              <a class="twitter-timeline" href="https://twitter.com/MesaDistrict5" data-widget-id="465941843922792448" data-chrome="noheader">Tweets by @MesaDistrict5</a>
            </div>
            <div class="twit-widget" id="council-6" style="display:none" >
              <a class="twitter-timeline" href="https://twitter.com/MesaDistrict6" data-widget-id="465941964072828928" data-chrome="noheader">Tweets by @MesaDistrict6</a>
            </div>
          </div>

        </div> <!-- end cards -->
      </section>
    </div> <!-- end results area -->
  </div>

  <div id="legislative" class="pure-u-1">
    <div class="legislative-header l-box">
      <h1>Items Being Discussed in Your District</h1>
      <p>View all upcoming items that will be voted on in your district and city.<br>
        Share your opinion on the decisions being made that affect you.</p>

      <a href="http://tomcfa.s3.amazonaws.com/participate.html">Ways you can participate <span class="fa fa-caret-right fa-lg"></span></a>
    </div>
    
    <div class="sort-by pure-menu pure-menu-open pure-menu-horizontal">
      <div class="pure-menu-heading">Sort by: </div>
      <ul>
        <li class="pure-menu-selected"><a href="#">Date</a></li>
        <li><a href="#">Distance</a></li>
        <li><a href="#">Activity</a></li>
      </ul>
    </div>

    <div class="legislative-items"></div>
  </div>

</div> <!-- end results -->

<div class="footer inverted pure-g l-box">
  <div class="pure-u-1">
    <h5> A project by Code for America in partnership with the City of Mesa</h5>
    <h5><a href="mailto:mesa@codeforamerica.org">mesa@codeforamerica.org</a></h5>
  </div>
</div>

<script id="legislation-template" type="x-tmpl-mustache">

  <article class="legislation pure-g" id={{matterId}}>
    
<!-- ICON COLUMN -->
    <div class="pure-u-1-24">
      <i class="icon fa {{icon}} fa-2x"></i>
    </div>

<!-- INFO/DETAILS COLUMN -->
    <div class="pure-u-18-24">
      <div class="item-name pure-g">
        <div class="pure-u-3-4">
          <div class="agenda-basics">
            <h4 class="text">{{title}}</h4>
            <div id="event-details-{{matterId}}"></div>
          </div>
        </div>
        <div class="distance pure-u-1-4">
          <div class="geo-scope">{{scope}}</div>
          <div class="distance">{{distance}} miles away</div>
        </div>
      </div>

      <div class="title">
        {{{body}}}
        <div class="matter-comments"><a class="comments" data-matter-id="{{matterId}}" href="#">Share your opinion <span class="fa fa-caret-down"></span></a></div>
      </div>
      <div class="comments"></div>
    </div>
<!-- ATTACHMENTS COLUMN -->

      <div class="pure-u-5-24">
        <div class="matter-attachments" id="attachments-{{matterId}}"></div>
      </div>
    </div>

  </article>
</script>

<script id="event-details-template" type="x-tmpl-mustache">
  <div class="event-date">{{date}}, {{time}}</div>
  <!--
  <h5>Next Meeting</h5>
  <ul>
    <li>{{date}}</li>
    <li>{{time}}</li>
    <li>{{name}}</li>
    <li>{{location}}</li>
  </ul>
  -->
</script>

<script id="template-attachments" type="x-tmpl-mustache">
  <a href="#" class="attachments" data-matter-id="{{matterId}}">Attachments ({{attachmentCount}}) <span class="fa fa-caret-down"></span></a>
  <ul class="attachments">
    {{#attachments}}
      <li><a href="{{link}}">{{name}}</a></li>
    {{/attachments}}
  </ul>
</script>

<%= javascript_include_tag "addresses", "data-turbolinks-track" => true %>
