<% content_for :head do %>

    <%= javascript_include_tag  "https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.js" %>
    <%= stylesheet_link_tag     "https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.css" %>

<% end %>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=612274872174090&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="col-3-3" id="map"></div>
<div id='legend-content' style='display: none;'></div>

<!--HEADER CONTAINER-->
<div class="header-container">

    <!-- <div class="colortest"></div> -->

    <div class="header">

        <div class="address-box">
            <div id="intro">Who Is My Councilmember?</div>
            <div id="address-container">
                <input id="address" type="search" size="50" placeholder="Type your address here to find out"/>
            </div>
            <div id="search-btn-container">
                <button id="search-btn" class="pure-button pure-button-primary">Search</button>
            </div>
            <p class="descript">e.g. 455 W Baseline Rd, Mesa, AZ</p>
        </div>
    </div>
</div>
<!-- END HEADER CONTAINER -->


<div class="results grid">

    <div id="social">

        <p class="results-text">We don't yet <br>know where you live.</p>

        <div id="results-area">

            <div id="controls" class="pure-menu pure-menu-open pure-menu-horizontal">
                <ul>
                <li class="pure-menu-selected"> <a id="controls-twitter" data-card="twitter-card" href="#">Tweets</a></li>
                <li class=""> <a id="controls-facebook" data-card="facebook-card" href="#">Facebook</a></li>
                <li><a id="controls-contact" data-card="contact-card" href="#">Contact</a></li>
                </ul>
            </div>

            <section class="container">
                <div id="cards">
                
                    <div class="card" id="contact-card">
                        Phone: <span class="phone">555-555-1234</span><br><br>
                        Email: <span class="email">?@mesaaz.gov</span><br><br>
                        Mail: <span class="mail">? Main Street </span><br><br>
                        Bio: <span class="bio">foo bar</span>
                    </div>

                    <div class="card" id="facebook-card">
                        <div class="fb-like-box" data-href="https://www.facebook.com/MesaMayorsOffice" data-width="495" data-height="468" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="true" data-show-border="false"></div>
                    </div>


                    <div class="card" id="twitter-card">

                        <div class="twit-widget">
                           <a class="twitter-timeline" href="https://twitter.com/techieshark/lists/mesaaz-gov" data-widget-id="465957406787112960" data-chrome="noheader">Tweets from https://twitter.com/techieshark/lists/mesaaz-gov</a>
                        </div>

                        <div class="twit-widget" id="council-1" style="display:none" >
                            <a class="twitter-timeline" href="https://twitter.com/dlrichins" data-widget-id="465935532589993984" data-chrome="noheader">Tweets by @dlrichins</a>
                        </div>

                        <div class="twit-widget" id="council-2" style="display:none" >
                            <a class="twitter-timeline" href="https://twitter.com/MesaDistrict2" data-widget-id="465941398470922240" data-chrome="noheader">Tweets by @MesaDistrict2</a>
                        </div>

                        <div class="twit-widget" id="council-3" style="display:none" >
                            <a class="twitter-timeline" href="https://twitter.com/MesaDistrict3" data-widget-id="465941592985968641" data-chrome="noheader">Tweets by @MesaDistrict3</a>
                        </div>

                        <div class="twit-widget" id="council-4" style="display:none" >
                            <a class="twitter-timeline" href="https://twitter.com/MesaDistrict4" data-widget-id="465941739635613696" data-chrome="noheader">Tweets by @MesaDistrict4</a>
                        </div>

                        <div class="twit-widget" id="council-5" style="display:none" >
                            <a class="twitter-timeline" href="https://twitter.com/MesaDistrict5" data-widget-id="465941843922792448" data-chrome="noheader">Tweets by @MesaDistrict5</a>
                        </div>

                        <div class="twit-widget" id="council-6" style="display:none" >
                            <a class="twitter-timeline" href="https://twitter.com/MesaDistrict6" data-widget-id="465941964072828928" data-chrome="noheader">Tweets by @MesaDistrict6</a>
                        </div>
                    </div>

                </div>
            </section> 

           

            
        </div> <!-- end results area -->
    </div> <!-- end social -->

</div>
<%= javascript_include_tag "addresses", "data-turbolinks-track" => true %>