// Place all the styles related to the Addresses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*
 * GENERAL STUFF + GRID SYSTEM
 */

body 
{
    width:100%;
    margin:0;
}

h1, h2, h3, h4, h5, h6, p
{
    font-family: Helvetica, Arial, sans-serif;
}

.grid:after 
{
  content: "";
  display: table;
  clear: both;
}

*, *:after, *:before 
{
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}

.col-2-3 
{
  width:66.66%;
}
.col-1-3 
{
  width: 33.33%;
}

[class*='col-'] 
{
  float: left;
}

[class*='col-']:last-of-type 
{
  padding-right: 0;
}

/*
 * NOW LET'S GET SPECIFIC
 */

#map 
{ 
    height:100vh;
    float:right;
}

.info-container 
{
    overflow:hidden;
}

.address-box
{
    font-size: 30px;
    background-color: transparent;
    font-family: Helvetica, Arial, sans-serif;
}

input
{ 
    padding: 10px; 
    border: solid 1px #E5E5E5; 
    outline: 0; 
    font: bold 0.6em/100% Helvetica, Arial, sans-serif; 
    background: #FFFFFF;
    height:50px;
    width:100%;
} 

.address-box input
{

}

.header h1 
{
    font-size:5em;
    letter-spacing:-0.05em;
    font-weight:bold;
    line-height:0;
}

.header p 
{
    font-size:1.1em;
    letter-spacing:-0.02em;
    font-weight:light;
    line-height:1.6em;
}

.colortest
{
    width:100%;
    height:20px;
    background-color:#E74C3C;
}

.header-container
{
    padding:8%;
}

.results-container 
{
    margin-top:20px;
}

.results-inner
{
    color:white;
    padding:8%;
    background-color:#2C3E50;
    min-height:500px;
}

.kicker
{
    padding-top:10px;
    text-transform:uppercase;
    font-size:0.8em;
    line-height:0em;
    font-weight:bold;
    color:#4A6886;
}

/*
 * CSS Queries
 */


@media only screen and (max-width: 650px) 
{
    .col-1-3, .col-2-3, .info-container, .results-container, .header-container, #map
    {
        width:100%;
    }

    .results-container 
    {
        margin-top:0;
    }
    .results-inner
    {
        min-height:0px;
    }
    .header-container, .results-inner
    {
        padding:20px;
    }
}


@media only screen and (max-width: 1302px) 
{
    .header h1
    {
        font-size:3.8em;
        line-height:0.8em;
        margin-bottom:0;
    }
    .header p
    {
        font-size:0.9em;
    }
}

