// Colors
$red:   #e64919;
$green: #00a99d;
$blue:  #607d8b;
$grey:  #616161;
$light-grey: #f5f6f7;
$black: #000000;
$white: #ffffff;
$light-blue: #29a9e1;
$logo-blue: #29a8e0;
$border-grey: lighten($grey, 15%);

// Fonts
$font-family: "proxima-nova", Helvetica, Arial, sans-serif;

body {
  margin-top: 76px; // For fixed top bar
  color: $grey;
}

html, 
button,
input,
select,
textarea,
.pure-g [class *= "pure-u"] {
  font-family: $font-family;
}

.pure-g > div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.l-box {
  padding: 1.2em;
}

.l-box-2x {
  padding: 2.4em;
}

// Spacing stuff
$center-header-text: 3em;

// The styles
#topbar.pure-menu {
  
  &.pure-menu-horizontal {

  	background: $blue;
    position: fixed;
    top: 0;
    z-index: 1010; // z-index fight with leaflet

    a {
      color: $white;
    }

    .pure-menu-heading {
    
      a {
        display: inline-block;
        padding: 0;
      }

      img {
        height: 60px;
        width: auto;
      }
    }
    
    // Header menu styles
    ul {
      li {
        a { 
          text-transform: uppercase;
          color: $white;
        }

        a:hover, a:focus { 
          background: none;
          color: darken($white, 15%);
        }
      }
    }

    // Pull right menu hack
    // =======================================
    // https://github.com/yahoo/pure/issues/56
    // http://jsfiddle.net/xUwCw/
    &.pure-menu-pull-right {
      display: table;
      width: 100%;
    }
    &.pure-menu-pull-right .pure-menu-heading,
    &.pure-menu-pull-right > ul {
      display: table-cell;
      vertical-align: middle;
    }
    &.pure-menu-pull-right > ul {
      text-align: right;
    }
    
    // Dropdown styles
    li ul {
      border: 1px solid darken($blue, 10%) !important;
      border-bottom: none !important;
      box-shadow: 1px 2px 3px rgba(0,0,0,.3) !important;
    }
    li a {
      padding: 13px 20px!important;
      color: #373737;
    }
    li li a {
      padding: 10px 25px!important;
    }
    li .pure-menu-children a {
      padding: 10px 25px!important;
      font-size: 14px;
    }
    li .pure-menu-children .pure-menu-separator {
      margin: 0 2px!important;
    }
    li .pure-menu-children li {
      border-bottom: 1px solid darken($blue, 10%) !important;
      background: $blue;
    }
    .pure-menu-open {
      background: $blue;
    }
  }
}
 
.arrow {
  margin-left:2px;
  display: inline-block; zoom: 1; *display: inline;
  width: 0; height: 0; vertical-align: middle;
  border-right: 4px solid transparent; border-left: 4px solid transparent; border-top: 4px solid $white;
}

.sort-by {
	display: none;
}

.person-title {
  font-size: 40px;
  padding: 0 10px;

  margin-bottom: 0;
  text-align: center;

  display: none; // initial state
}

.person-position.no-district {
	border-bottom: none;
}

#results {
  margin: 0 auto;
  max-width: 1400px;
  display: none;

  padding-top: 90px; // For fixed top bar
  margin-top: -70px; // For fixed top bar

  h2 {
    margin-top: 0;
    margin-bottom: 5px;
  }
}

#controls {
	background: $white;
	padding: 1em;

	li {
		margin-right: 1em;
	}
}

#results-text {
  background: $white;
  padding: 20px;
  margin-top: 0;
  margin-bottom: 8px;
}

#results-area {
	background: $white;
}

.header-container {
  background: darken($white, 2%);
  
  .header {
    margin-top: 60px;
  }

  h2 {
    color: $blue;
    font-weight: 400;

    span {
      text-transform: uppercase;
      font-weight: bold;
    }
  }
}

.initial #results {
	opacity: 0;
	top: 0px;
}

#bio-card {
	background: $white;
	padding: 10px;
	min-height: 400px;
  line-height: 1.5;
}

.address-box {
  margin-top: $center-header-text;
  
  label {
    color: $blue;
    font-weight: 400;
    display: block;
    margin-bottom: 10px;
  }

  input {
  	padding: 0.5em;
  	background: $white;
    width: 98%;
    border: solid 2px $border-grey;
    border-radius: 8px;
    outline: none;
  }

  button {
    padding: 0.5em;
    background: $light-blue;
    width: 98%;
    border: solid 2px $light-blue;
    border-radius: 8px;
  }

  div {
    margin-bottom: .5em;
  }
}

* { box-sizing: border-box; } // http://www.paulirish.com/2012/box-sizing-border-box-ftw/

.address-box {
  font-size: 25px;
  background-color: transparent;
}

.contact-info {
  font-size: 1.1em;

  span + span {
    margin-left: 10px;
  }

  .contact-method {
    text-transform: lowercase;
    display: inline-block;
    margin-left: 10px;
    margin-top: 1em;

    .fa {
      color: $blue;
    }
  }
}

#results .pure-menu {
  li {
    a {
      color: $green;
      text-transform: uppercase;
      border-bottom: solid 2px $white;
    }
    a:hover, a:focus {
      background: none;
      border-bottom: solid 2px $green;
    }
  }

  .pure-menu-selected {
     a {
      color: $green;
      border-bottom: solid 2px $green;
    }
  }
}

#legislative {
  padding: 0 2em;

	.legislative-header {
    text-align: center;

    a {
      text-decoration: none;
      color: $green;
      text-transform: uppercase;
    }
  }
}

.legislation {
  border-bottom: solid 1px $grey;
  padding-bottom: 1em;
  margin-bottom: 1em;

  &:last-child {
    border-bottom: none;
  }

  .distance, .geo-scope {
  	text-transform: uppercase;
  	text-align: right;
  	font-size: 0.75rem;
	  color: #808080;
  }

	.type,.like,.comment {
	    text-align: center;
	}

	.type, .comment {
		padding-top: 12px;
	}
	.like {
		padding-top: 35px;
	}

	.body {
		display: none;
	}
}


.item-name {

	.icon {
		margin-right: 1rem;
		line-height: 47px; /* hack. vertically align with .agenda-basics */
		vertical-align: top;
	}

	.agenda-basics {
		display: inline-block;

		.when {
			font-size: 0.75rem;
			color: #808080;
		}
	}

	.text {
		display: inline-block;
		margin: 0;
		line-height: 2rem; /* match font awesome icon */
	}

  padding-bottom: 1em;
}

.attachments {
  margin-left: 1em;
}

div.attachments {
  text-transform: uppercase;
}

a.attachments, .matter-comments a {
	color: $green;
	text-transform: uppercase;
  text-decoration: none;
}

ul.attachments {
  padding-left: 0;

  li {
    list-style-type: none;

    a {
      color: $green;
    }

    a[href$=".pdf"]:after { content: " (.pdf)"; }
    a[href$=".doc"]:after { content: " (.doc)"; }
    a[href$=".docx"]:after { content: " (.docx)"; }
    a[href$=".xls"]:after { content: " (.xls)"; }
    a[href$=".xslx"]:after { content: " (.xlsx)"; }
    a[href$=".svg"]:after { content: " (.svg)"; }
    a[href$=".jpg"]:after { content: " (.jpg)"; }
    a[href$=".jpeg"]:after { content: " (.jpeg)"; }
    a[href$=".gif"]:after { content: " (.gif)"; } // we can only hope
  }
}

.readmore {
	color: rgb(122, 122, 151);
  text-decoration: none;
  font-weight: bold;
  font-size: 12px;
  border-bottom: 1px solid rgb(208, 208, 228);
  display: inline-block;
  margin-left: .25rem;
  text-transform: uppercase;
}

div#disqus_thread {
	background: $white;
	margin: 0;
	padding: 10px 0 0 0;
}
.comments {
	width: 100%;
}

.sort-by {
	text-transform: uppercase;
	background: inherit !important; /* override purecss */
	margin-bottom: 1em;
}

/* make the facebook like box responsive. */
/* more tips: http://stackoverflow.com/questions/10656038/how-to-make-the-facebook-like-box-responsive */
.fb-like-box, .fb-like-box span, .fb-like-box span iframe[style] {
  width: 100% !important;
  height: 400px !important;
  overflow: visible !important;
}

#map {
  height:600px;
  background: darken($white, 2%);
}

.pull-left {
  float: left !important;
}

.pull-right {
  float: right !important;
}

p.descript {
  font-size:0.5em;
  font-weight:light;
  font-style:italic;
  color:#808080;
  z-index:5;
  margin-top:0;
}

.footer {
  background: $light-grey;
  text-align: center;
  border-top: solid 1px $border-grey;

  a {
    color: $blue;
    text-decoration: underline;
  }

  .email {
    font-weight: bold;
  }

  .button-block, p.credit {
    margin-top: 1em;
  }
  .button-block a {
    text-decoration: none;
  }

  a .fa {
    -webkit-transition: all .33s ease;
    -moz-transition: all .33s ease;
    -ms-transition: all .33s ease;
    -o-transition: all .33s ease;
    transition: all .33s ease;
  }

  a:hover, a:hover .fa-circle {
    color: $logo-blue;
  }
  a:hover .fa-stack-1x {
    color: $white;
    font-size: 1.1em; // make the icons pop out a bit
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  }

  // font awesome's envelope logo is a little too big, so we resize.
  .fa-envelope {
    font-size: .8em;
  }
  a:hover .fa-envelope {
    font-size: .9em;
  }

  // add a little bit of motion, for fun.
  .fa-twitter {

    -o-animation-name: sway;
    -o-animation-duration: 3.3s;
    -o-animation-iteration-count: infinite;
    -o-animation-direction: alternate;

    -ms-animation-name: sway;
    -ms-animation-duration: 3.3s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-direction: alternate;

    -moz-animation-name: sway;
    -moz-animation-duration: 3.3s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: alternate;

    -webkit-animation-name: sway;
    -webkit-animation-duration: 3.3s;
    -webkit-animation-iteration-count: infinite;
    -webki-animation-direction: alternate;

    animation-name: sway;
    animation-duration: 3.3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
}

@-webkit-keyframes sway {
  0% {
    margin-left: -1px;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
  }
  50% {
    margin-left: 1px;
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
  }
  100% {
    margin-left: -1px;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
  }
}

/*  Responsive helpers where Pure blew it  */

// Above size

// sm
@media screen and (min-width: 35.5em) {}

// md
@media screen and (min-width: 48em) {}

// lg
@media screen and (min-width: 64em) {}

// xl
@media screen and (min-width: 80em) {}

// Below size

// sm
@media screen and (max-width: 35.5em) {
  .hide-xs {
    display: none;
  }
}

// md
@media screen and (max-width: 48em) {
  .hide-sm {
    display: none;
  }
}

// lg
@media screen and (max-width: 64em) {
  .hide-md {
    display: none;
  }
}

// xl
@media screen and (max-width: 80em) {
  .hide-lg {
    display: none;
  }
}

