
#topbar {
	background: black;
	font-family: Montserrat;
	font-weight: bold;

	.pure-menu-heading {
		color: white;
	}
}

#map {
	float: left;
	z-index:1;
}

.you-live-in {

    font-size: 50px;
    font-family: Montserrat;
    margin: 0;
    padding-left: 2rem;
    border-bottom: 10px solid rgba(215, 215, 215, 0.1);

    display: none; // initial state

}

.you-live-in.no-district {
	border-bottom: none;
}

.results {

    background: rgba(215, 215, 215, 0.1);
    margin-top: 0;

}

#social {

	padding: 0 1em 0 1em;

}

#social a {
	text-decoration: none;
}

#controls {
	background: white;
	padding: 1em;

	a {
		margin-right: 1em;
	}
}


.results-text
{
    //position: absolute;
    //bottom:20px;
    //left:13px;
    //z-index:2;


    background: white;
    padding: 20px;
    //line-height: 1.7;
    margin-top: 0;
    margin-bottom: 8px;
    
    //color: black;
    //font-weight: bold;
    // text-shadow: 0px 0px 1px white, 0px 0px 2px white, 0px 0px 3px white, 0px 0px 4px white;
}

#results-area {
	background: white;
}

#intro, .results-text, .header-container, #contact-card, #legislative {
	font-family: 'Montserrat', sans-serif;
}

.header h1 {
	// line-height: 1;
	// font-size: 70px;
}

.header-container {
    clear: both;
	padding: 1em 16px 1em 36px;
    margin-top: 0;

	#intro {
		margin-bottom: .5em;
	}

}

// .results.grid {
// 	height:500px;
// 	position: relative;
// 	top: 0px;
// }


.initial .results {
	opacity: 0;
	top: 0px;
}

.header-container, .results {
	// we want to transition the opacity for results and the position for header container.
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}


// setting fixed margin: hack.
.initial .header-container {
	margin-top: 300px; // vertically centered, assuming a macbook air sized screen.
}


#contact-card {
	background: white;
	padding: 10px;
	height: 400px;
	display: none; // hide by default
}

.address-box input {
	padding: 0.5em;
	background: #fafafa;
}

* { box-sizing: border-box; } // http://www.paulirish.com/2012/box-sizing-border-box-ftw/

#address-container {
	float: left;
	width: 80%;
}
#address {
	width: 90%;
	width: calc(100% - 1em);
	border: 0;
	border-bottom: 1px solid #DBDBDB;

	font-family: serif;
	font-style: italic;
}

#search-btn-container {
	padding-left: 1em;
    width: 20%;
    float: left;
}
#search-btn {
	width: calc(100% - 1em);
}

.descript {
	clear: both;
	padding: 1em 0 0 1em;
}

.address-box
{
    font-size: 25px;
    background-color: transparent;
}

.pure-menu-selected {
	background: #f7f7f7;
}

#legislative {

	h1 {
		padding-left: 38px; //hack
	}
}

.legislation {


    background-color: white;
    border: 1px solid rgb(240, 240, 240);
    border-bottom: 2px solid rgb(245, 240, 240);
    border-radius: 3px;
    margin-right: 1em;
    margin-bottom: 1em;


    padding: 1rem;

	.type,.like,.comment {
	    text-align: center;
	}

	.type, .comment {
		padding-top: 12px;
	}
	.like {
		padding-top: 35px;
	}
}

.legislation .title {
}


.item-name {

	.icon {
		margin-right: 1rem;
	}

	.text {
		display: inline-block;
		margin: 0;
		line-height: 2rem; /* match font awesome icon */
	}

    padding-bottom: 1em;
    border-bottom: 1px solid lightgray;

}

.sort-by {
	text-transform: uppercase;
	background: inherit !important; /* override purecss */
	margin-bottom: 1em;
}

/* make the facebook like box responsive. */
/* more tips: http://stackoverflow.com/questions/10656038/how-to-make-the-facebook-like-box-responsive */
 .fb-like-box, .fb-like-box span, .fb-like-box span iframe[style] {
    width: 100% !important;
}

/* ------------------------------------------
 * Stuff from addresses.css.scss that we need */

#map
{
    height:40vh;
    float:right;
}

.col-3-3 {
	width: 100%;
}

p.descript
{
    font-size:0.5em;
    font-weight:light;
    font-style:italic;
    color:grey;
    z-index:5
}
/* ------------------------------------------*/


