<div class="disclaimer">
	<p>
		The City of Mesa is a public entity subject to the <a href="http://www.azleg.gov/FormatDocument.asp?inDoc=/ars/39/00121.htm&Title=39&DocType=ARS" title="A.R.S. 39-121 et. seq.">Arizona Public Records Law</a>. Comments made or received on this site, including the commenter’s email address, are subject to disclosure pursuant to a <a href="http://www.mesaaz.gov/publicinfo">public records request</a>.
	</p>
</div>