<% if @event_items %>
  <%= render "layouts/disclaimer" %>
<% end %>

<div class="footer l-box-2x">
  <!--
  vfs: 12/16/2014, removed hello email per request
  Say hello at <a class="email" href="mailto:municipal@mesaaz.gov">municipal@mesaaz.gov</a>.
  -->

  <div class="button-block">
    <!--
    vfs: 12/16/2014, removed hello email per request
    <a href="mailto:municipal@mesaaz.gov" title="Questions? Comments? Email us!">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
        <i class="fa fa-envelope fa-stack-1x "></i>
      </span>
    </a>
    -->
    <a href="http://github.com/CityOfMesaAZ/MuniciPal" title="Our Open Source project code on GitHub">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
        <i class="fa fa-github-alt fa-stack-1x "></i>
      </span>
    </a>
    <a href="http://twitter.com/mesaazgov" title="The city of Mesa, AZ on Twitter">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
        <i class="fa fa-twitter fa-stack-1x "></i>
      </span>
    </a>
  </div>

  <p class="credit"> A project by the <a href="http://www.codeforamerica.org/governments/mesa/">2014 Fellows</a> at <a href="http://codeforamerica.org">Code for America</a> in partnership with the <a href="http://mesaaz.gov">City of Mesa</a>.</p>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-57744928-1', 'auto');
  ga('send', 'pageview');

</script>
