<div id="legislative" class="pure-u-1">
    <div class="legislative-header l-box">
      <h1>Items Being Discussed in Your District</h1>
      <p>View all upcoming items that will be voted on in your district and city.<br>
        Share your opinion on the decisions being made that affect you.</p>

      <a href="http://tomcfa.s3.amazonaws.com/participate.html">Ways you can participate <span class="fa fa-caret-right fa-lg"></span></a>
    </div>

    <div class="sort-by pure-menu pure-menu-open pure-menu-horizontal">
      <div class="pure-menu-heading">Sort by: </div>
      <ul>
        <li class="pure-menu-selected"><a href="#">Date</a></li>
        <li><a href="#">Distance</a></li>
        <li><a href="#">Activity</a></li>
      </ul>
    </div>

    <div class="legislative-items"></div>
  </div>