<script id="facebook-template" type="x-tmpl-mustache">
  <div class="fb-widget" id="facebook-{{district}}">
    <div class="fb-like-box" data-href="https://www.facebook.com/{{facebook}}" data-width="500" data-height="400" data-colorscheme="light" data-show-faces="false" data-header="false" data-stream="true" data-show-border="false"></div>
  </div>
</script>

<script id="twitter-template" type="x-tmpl-mustache">
  <div class="twit-widget" id="council-{{district}}">
    <a class="twitter-timeline" href="https://twitter.com/{{twitterName}}" data-widget-id="{{twitterWidget}}" data-chrome="noheader">Tweets by @{{twitter-name}}</a>
  </div>
</script>

<script id="legislation-template" type="x-tmpl-mustache">

  <article class="legislation pure-g" id={{matterId}}>

<!-- ICON COLUMN -->
    <div class="pure-u-md-1-24 hide-sm">
      <i class="icon fa {{icon}} fa-2x"></i>
    </div>

<!-- INFO/DETAILS COLUMN -->
    <div class="pure-u-md-18-24 pure-u-1">
      <div class="item-name pure-g">
        <div class="pure-u-md-3-4 pure-u-1">
          <div class="agenda-basics">
            <h4 class="text"><a href="/event_items/{{eventItemId}}">{{title}}</a></h4>
            <div id="event-details-{{eventItemId}}"></div>
          </div>
        </div>
        <div class="distance pure-u-md-1-4 pure-u-1">
          <div class="geo-scope">{{scope}}</div>
          <div class="distance">{{distance}} miles away</div>
        </div>
      </div>

      <div class="title">
        {{{body}}}
        <div class="matter-comments"><a class="comments" data-matter-id="{{matterId}}" href="#">Share your opinion <span class="fa fa-caret-down"></span></a></div>
      </div>
      <div class="comments"></div>
    </div>
<!-- ATTACHMENTS COLUMN -->

      <div class="pure-u-md-5-24 pure-u-1">
        <div class="matter-attachments" id="attachments-{{eventItemId}}">{{attachments}}</div>
      </div>
    </div>

  </article>
</script>

<script id="event-details-template" type="x-tmpl-mustache">
  <div class="event-date">{{date}}, {{time}}</div>
  <!--
  <h5>Next Meeting</h5>
  <ul>
    <li>{{date}}</li>
    <li>{{time}}</li>
    <li>{{name}}</li>
    <li>{{location}}</li>
  </ul>
  -->
</script>

<script id="template-attachments" type="x-tmpl-mustache">
  <a href="#" class="attachments" data-matter-id="{{matterId}}">Attachments ({{attachmentCount}}) <span class="fa fa-caret-down"></span></a>
  <ul class="attachments">
    {{#attachments}}
      <li><a target="_blank" href="http://docs.google.com/viewer?url={{link}}">{{name}}</a></li>
    {{/attachments}}
  </ul>
</script>
