  <div id="person" class="pure-g">
    <h1 class="person-title pure-u-1" id="answer">{{title}}</h1>

    <!-- Picture and contact info -->
    <div class="pure-u-md-1-2 pure-u-1 l-box">
      <img id="person-picture" class="pure-img hide-sm" src="" alt="Photo of {{fullname}}">
      <div class="contact-info">
        <div class="contact-method">
          <span class="fa fa-phone fa-lg fa-fw"></span><span id="person-phone">{{phone}}</span>
        </div>
        <div class="contact-method">
          <span class="fa fa-envelope fa-lg fa-fw"></span><span id="person-email">{{email}}</span>
        </div>
      </div>
    </div>

    <!-- Details box -->
    <div class="pure-u-md-1-2 pure-u-1 l-box">
      <h2 id="person-name">{{fullname}}</h2>
      <div id="results-area">
        <div id="controls" class="pure-menu pure-menu-open pure-menu-horizontal">
          <ul>
            <li class="pure-menu-selected"><a id="controls-bio" data-card="bio-card" href="#">Bio</a></li>
            <li><a id="controls-twitter" data-card="twitter-card" href="#">Twitter</a></li>
            <li><a id="controls-facebook" data-card="facebook-card" href="#">Facebook</a></li>
          </ul>
        </div> <!-- end controls -->

        <section class="container">
          <div id="cards">

            <div class="card" id="bio-card">
            </div>

            <div class="card" id="facebook-card">
            </div>

            <div class="card" id="twitter-card">
            </div>

          </div> <!-- end cards -->
        </section>
      </div> <!-- end results-area -->
    </div> <!-- end details box -->
  </div> <!-- end person -->
