<!DOCTYPE html>
<html>
<head>
  <title>Zone</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- 	<div id="map"></div>
	map(:center => {
    :latlng => [51.52238797921441, -0.08366235665359283],
    :zoom => 18
}) 	 -->
	<%= yield %>

</body>
</html>
